.normal-button {
     -fx-background-color: white;
     -fx-border-color: #CCC;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: black;
}

.normal-button-no-border {
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: black;
}

.confirm-button {
     -fx-background-color: #1890FF;
     -fx-border-color: #1890FF;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: white;
}

.confirm-button-border {
     -fx-background-color: white;
     -fx-border-color: #1890FF;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: white;
}


.visible-button {
     -fx-background-color: transparent;
}