.normal-button {
     -fx-background-color: white;
     -fx-border-color: #CCC;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: black;
}

.confirm-button {
     -fx-background-color: #F95C9A;
     -fx-border-color: #F95C9A;
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-text-fill: white;
}