.font-family-Arial {
    -fx-font-family: "Arial";
}

.font-family-Verdana {
    -fx-font-family: "Verdana";
}

.font-family-Tahoma {
    -fx-font-family: "Tahoma";
}

.font-family-Times-New-Roman {
    -fx-font-family: "Times New Roman";
}

.font-family-Courier-New {
    -fx-font-family: "Courier New";
}

.font-family-Georgia {
    -fx-font-family: "Georgia";
}

.font-family-Comic-Sans-MS {
    -fx-font-family: "Comic Sans MS";
}

.font-family-Impact {
    -fx-font-family: "Impact";
}

.font-family-Trebuchet-MS {
    -fx-font-family: "Trebuchet MS";
}

.font-family-Palatino-Linotype {
    -fx-font-family: "Palatino Linotype";
}

.font-family-Garamond {
    -fx-font-family: "Garamond";
}

.font-family-Bookman {
    -fx-font-family: "Bookman";
}

.font-family-Arial-Black {
    -fx-font-family: "Arial Black";
}

.font-family-Helvetica {
    -fx-font-family: "Helvetica";
}

.font-family-Lucidatypewriter {
    -fx-font-family: "Lucidatypewriter";
}

.font-family-Century-Gothic {
    -fx-font-family: "Century Gothic";
}

.font-family-Franklin-Gothic-Medium {
    -fx-font-family: "Franklin Gothic Medium";
}

.font-family-Perpetua {
    -fx-font-family: "Perpetua";
}

.font-family-Brush-Script-MT {
    -fx-font-family: "Brush Script MT";
}

.font-family-Optima {
    -fx-font-family: "Optima";
}
