.font-size-10 { -fx-font-size: 10pt; }
.font-size-11 { -fx-font-size: 11pt; }
.font-size-12 { -fx-font-size: 12pt; }
.font-size-13 { -fx-font-size: 13pt; }
.font-size-14 { -fx-font-size: 14pt; }
.font-size-15 { -fx-font-size: 15pt; }
.font-size-16 { -fx-font-size: 16pt; }
.font-size-17 { -fx-font-size: 17pt; }
.font-size-18 { -fx-font-size: 18pt; }
.font-size-19 { -fx-font-size: 19pt; }
.font-size-20 { -fx-font-size: 20pt; }
.font-size-21 { -fx-font-size: 21pt; }
.font-size-22 { -fx-font-size: 22pt; }
.font-size-23 { -fx-font-size: 23pt; }
.font-size-24 { -fx-font-size: 24pt; }
.font-size-25 { -fx-font-size: 25pt; }
.font-size-26 { -fx-font-size: 26pt; }
.font-size-27 { -fx-font-size: 27pt; }
.font-size-28 { -fx-font-size: 28pt; }
.font-size-29 { -fx-font-size: 29pt; }
.font-size-30 { -fx-font-size: 30pt; }
.font-size-31 { -fx-font-size: 31pt; }
.font-size-32 { -fx-font-size: 32pt; }
.font-size-33 { -fx-font-size: 33pt; }
.font-size-34 { -fx-font-size: 34pt; }
.font-size-35 { -fx-font-size: 35pt; }
.font-size-36 { -fx-font-size: 36pt; }
.font-size-37 { -fx-font-size: 37pt; }
.font-size-38 { -fx-font-size: 38pt; }
.font-size-39 { -fx-font-size: 39pt; }
.font-size-40 { -fx-font-size: 40pt; }
.font-size-41 { -fx-font-size: 41pt; }
.font-size-42 { -fx-font-size: 42pt; }
.font-size-43 { -fx-font-size: 43pt; }
.font-size-44 { -fx-font-size: 44pt; }
.font-size-45 { -fx-font-size: 45pt; }
.font-size-46 { -fx-font-size: 46pt; }
.font-size-47 { -fx-font-size: 47pt; }
.font-size-48 { -fx-font-size: 48pt; }
.font-size-49 { -fx-font-size: 49pt; }
.font-size-50 { -fx-font-size: 50pt; }
.font-size-51 { -fx-font-size: 51pt; }
.font-size-52 { -fx-font-size: 52pt; }
.font-size-53 { -fx-font-size: 53pt; }
.font-size-54 { -fx-font-size: 54pt; }
.font-size-55 { -fx-font-size: 55pt; }
.font-size-56 { -fx-font-size: 56pt; }
.font-size-57 { -fx-font-size: 57pt; }
.font-size-58 { -fx-font-size: 58pt; }
.font-size-59 { -fx-font-size: 59pt; }
.font-size-60 { -fx-font-size: 60pt; }
.font-size-61 { -fx-font-size: 61pt; }
.font-size-62 { -fx-font-size: 62pt; }
.font-size-63 { -fx-font-size: 63pt; }
.font-size-64 { -fx-font-size: 64pt; }
.font-size-65 { -fx-font-size: 65pt; }
.font-size-66 { -fx-font-size: 66pt; }
.font-size-67 { -fx-font-size: 67pt; }
.font-size-68 { -fx-font-size: 68pt; }
.font-size-69 { -fx-font-size: 69pt; }
.font-size-70 { -fx-font-size: 70pt; }
.font-size-71 { -fx-font-size: 71pt; }
.font-size-72 { -fx-font-size: 72pt; }
.font-size-73 { -fx-font-size: 73pt; }
.font-size-74 { -fx-font-size: 74pt; }
.font-size-75 { -fx-font-size: 75pt; }
.font-size-76 { -fx-font-size: 76pt; }
.font-size-77 { -fx-font-size: 77pt; }
.font-size-78 { -fx-font-size: 78pt; }
.font-size-79 { -fx-font-size: 79pt; }
.font-size-80 { -fx-font-size: 80pt; }
.font-size-81 { -fx-font-size: 81pt; }
.font-size-82 { -fx-font-size: 82pt; }
.font-size-83 { -fx-font-size: 83pt; }
.font-size-84 { -fx-font-size: 84pt; }
.font-size-85 { -fx-font-size: 85pt; }
.font-size-86 { -fx-font-size: 86pt; }
.font-size-87 { -fx-font-size: 87pt; }
.font-size-88 { -fx-font-size: 88pt; }
.font-size-89 { -fx-font-size: 89pt; }
.font-size-90 { -fx-font-size: 90pt; }
.font-size-91 { -fx-font-size: 91pt; }
.font-size-92 { -fx-font-size: 92pt; }
.font-size-93 { -fx-font-size: 93pt; }
.font-size-94 { -fx-font-size: 94pt; }
.font-size-95 { -fx-font-size: 95pt; }
.font-size-96 { -fx-font-size: 96pt; }
.font-size-97 { -fx-font-size: 97pt; }
.font-size-98 { -fx-font-size: 98pt; }
.font-size-99 { -fx-font-size: 99pt; }
.font-size-100 { -fx-font-size: 100pt; }
.font-size-101 { -fx-font-size: 101pt; }
.font-size-102 { -fx-font-size: 102pt; }
.font-size-103 { -fx-font-size: 103pt; }
.font-size-104 { -fx-font-size: 104pt; }
.font-size-105 { -fx-font-size: 105pt; }
.font-size-106 { -fx-font-size: 106pt; }
.font-size-107 { -fx-font-size: 107pt; }
.font-size-108 { -fx-font-size: 108pt; }
.font-size-109 { -fx-font-size: 109pt; }
.font-size-110 { -fx-font-size: 110pt; }
