.pane-nav {
     -fx-background-color: white;
     -fx-background-radius: 10;
}

.pane-nav-header {
     -fx-border-color: #CCC;
     -fx-border-width: 0 0 1 0;
}

.pane-nav-button {
     -fx-background-color: transparent;
     -fx-border-color: transparent;
     -fx-border-width: 0 0 0 4;
}

.pane-nav-button:hover {
     -fx-background-color: #EEE;
}


.pane-nav-button .label {
     -fx-text-fill: black;
}

.pane-nav-button-selected {
     -fx-background-color: #EEE;
     -fx-border-color: #1890FF;
     -fx-border-width: 0 0 0 4;
}

.pane-nav-button-selected .label {
     -fx-text-fill: #1890FF;
}