.note-pane-container {
	-fx-background-color: white;
	-fx-background-radius: 5;
	-fx-border-color: -fx-primary-color;
	-fx-border-width: 0 0 8 0;
}

.note-pane-container .pane-icon {
	-fx-border-color: -fx-primary-color;
	-fx-border-width: 2;
	-fx-border-radius: 5;
}

.note-pane-container .tag-flow-pane .label {
	-fx-border-color: #888;
	-fx-border-radius: 5;
}